<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hud_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>hud_heart_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>hud_heart_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>hud_heart_piece.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>hud_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud.png</string>
            <key>size</key>
            <string>{244,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fc95e84414f566f65d2e6ba924160b0:7e440507df04cc193cb9ed7ce5ee9ed1:f2a61c07da5915a36e0a2ce159a09224$</string>
            <key>textureFileName</key>
            <string>hud.png</string>
        </dict>
    </dict>
</plist>
